.project-header-code-wrapper {
    width: 60px;
    margin-left: 56px;
}

.project-header-name-wrapper {
    width: 60px;
    margin-left: 250px;
}

.project-header-description-wrapper {
    width: 90px;
    margin-left: 250px;
}

.project-content-code-wrapper {
    width: 310px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    border-left: 2px solid #707070;
}

.project-content-name-wrapper {
    width: 310px;
    display: flex;
    align-items: center;
    border-left: 2px solid #707070;
}

.project-content-description-wrapper {
    width: 440px;
    display: flex;
    align-items: center;
    border-left: 2px solid #707070;
}

.project-content {
    font-size: 12px;
    font-weight: bold;
    color: #B1B0B0;
    margin-left: 18px;
}

.project-input-tag {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 18px;
    color: #000000;
}

.project-void {
    margin-left: 317px;
}