@font-face {
    font-family: default-font;
    src: url('../../static/font/NanumSquareB.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: default-font;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.feature-background {
    width: calc(100% - 388px);
    height: calc(100% - 62px);
    background-color: #F6F8FA;
    float: right;
    display: flex;
    flex-direction: column;
}

.feature-title-wrapper {
    width: 100%;
    height: 123px;
}

.feature-title {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    margin: 100px 0px 0px 126px;
    line-height: 180px;
}

.feature-body {
    width: 1270px;
    height: 620px;
    background-color: #FFFFFF;
    border: 1px solid #E1E4E8;
    margin-left: 126px;
    margin-top: 20px;
}

.feature-body-header {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #E1E4E8;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.feature-body-body {
    width: 100%;
    height: 584px;
}

.feature-header-font {
    font-size: 12px;
    font-weight: bold;
    color: #B1B0B0;
}

.feature-header-wrapper {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #707070;
}

.feature-new-box {
    width: 70px;
    height: 25px;
    background-color: #2EA44F;
    float: right;
    margin: 116px 138px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-new {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.tu-myeong {
    font-size: 10px;
    font-weight: bold;
    color: #2EA44F;
}

.gong-back {
    width: 309px;
    height: 28px;
    margin-bottom: 10px;
}

.content-wrapper-wrapper {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.content-wrapper {
    width: 85%;
    height: 36px;
    margin-left: 50px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #E1E4E8;
}

.content-insertion-image {
    width: 15px;
    height: 15px;
    background: url("../../static/image/InsertionLogo.png") 15px 15px / 100%;
    margin-left: 10px;
    margin-bottom: 12px;
}

.content-insertion-image:hover {
    cursor: pointer;
}

.content-modification-image {
    width: 15px;
    height: 15px;
    background: url("../../static/image/FeatureModification.png") 15px 15px / 100%;
    margin-left: 10px;
    margin-bottom: 12px;
}

.content-modification-image:hover {
    cursor: pointer;
}

.content-deletion-image {
    width: 15px;
    height: 15px;
    background: url("../../static/image/GarbageTong.png") 15px 15px / 100%;
    margin-left: 10px;
    margin-bottom: 12px;
}

.content-deletion-image:hover {
    cursor: pointer;
}

.content-cancel-image {
    width: 15px;
    height: 15px;
    background: url("../../static/image/CancelLogo.png") 15px 15px / 100%;
    margin-left: 10px;
    margin-bottom: 12px;
}

.content-cancel-image:hover {
    cursor: pointer;
}