.group-header-name-wrapper {
    width: 60px;
    margin-left: 56px;
}

.group-content {
    font-size: 12px;
    font-weight: bold;
    color: #B1B0B0;
    margin-left: 18px;
}

.group-content-name-wrapper {
    width: 310px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    border-left: 2px solid #707070;
}

.group-detail-wrapper {
    width: 75%;
    height: 36px;
    margin-left: 177px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #E1E4E8;
}